body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* pruduk Buy */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 10%;
  max-width: 100%;
}

.left-column .icon-p a {
  border: 1px solid black;
  color: black;
  padding: 10px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 25px;
}

.left-column,
.right-column {
  padding: 20px;
}

.foto-p img {
  max-width: 600px;
  max-height: 600px;
  margin: 40px;
  height: auto;
}

.left-column {
  max-width: 600px;
}

.right-column {
  max-width: 400px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 14px;
  line-height: 1.6;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.size-chart {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.size-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.size-buttons button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.bayar {
  padding: 15px;
  background-color: #666;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 600px;
    margin-bottom: 500px;
  }

  .foto-p img {
    max-width: 80%;
    height: auto;
    margin: 20px;
  }

  .left-column,
  .right-column {
    max-width: 100%;
    padding: 10px;
  }
}
